.portrait {
  float: left;
  margin: 0 2rem 2rem 0;
}

.instructions {
  clear: both;
}
* <ol class="instructions">
          <li>Make a selector for <code>.instructions</code>, and add the rule <code>clear: both;</code></li>
        </ol> *

